.title{
    margin-bottom: 100px;

}
#Main_Text{
    font-size: 64px;
    font-family: "Bungee", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

#Bloco_de_interesse{
    margin-left: 150px;
    padding: 25px;
    width: 450px;
    border: 2px dotted  rgb(23, 7, 39);
}

.Blocos_de_selecao{
    border: 4px solid  rgb(23, 7, 39);
    border-radius:7px;
    padding: 60px;
    font-family: "Bungee", sans-serif;
    text-transform: uppercase;
}

#ul1{
    display:flex;
    flex-direction: column;
    height: 445px; 
    justify-content: space-between;
    
}


#W_space1{
    padding-bottom: 100px;
}